.herosection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5rem);
}


.herosection img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    background: linear-gradient(90deg,
            rgba(222, 75, 75, 0.412) 0%,
            rgba(227, 32, 185, 0.443) 0%,
            rgba(255, 0, 0, 0.478) 68%,
            rgba(237, 221, 83, 0.453) 100%);
}



.hero-heading {


    font-size: 2rem;
    text-align: center;
    width: 70%;

    margin-bottom: 40px;
}


.hero-heading-name {
    background: linear-gradient(90deg,
            rgba(222, 75, 75, 1) 0%,
            rgba(227, 32, 185, 1) 0%,
            rgba(255, 0, 0, 0.89) 68%,
            rgba(237, 221, 83, 1) 100%);

    -webkit-background-clip: text;

    background-clip: text;

    color: transparent;

    font-weight: 500;
}


.herosection-paragraph {
    width: 70%;
    text-align: center;
    margin-bottom: 40px;
}


.herosection-btns {
    display: flex;
    gap: 2rem;
}