.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}