.card {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.5rem;
    padding: 2rem;
    border-radius: 1rem;
    width: 350px;
    height: 330px;

}


.card span {
    font-size: 2rem;
    font-weight: 600;
    color: #FF5733;
}


.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    background: linear-gradient(90deg,
            rgba(222, 75, 75, 0.266) 0%,
            rgba(227, 32, 185, 0.263) 0%,
            rgba(255, 0, 0, 0.272) 68%,
            rgba(237, 221, 83, 0.269) 100%);

    border: 2px solid #ff3205;
}